{% extends '_layout.html' %}

{% block content %}


<div class="row d-flex align-content-center justify-content-center flex-column my-4"> 
  
  <div class="col-lg-4 text-center align-content-center my-4">
    {% if current_user.user_profile_image %}
    <img class="profileImg " src="{{current_user.user_profile_image}}" alt="" srcset="">
    {% else %}
    <img class="profileImg" src="{{url_for('static', filename='images/default.jpg')}}" alt="" srcset="">
    {% endif %}
  </div>
  
  <div class="col-lg-4">
    <form method="post" action="{{url_for('users.upload_profile')}}" enctype="multipart/form-data">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      
      <label for="user_profile_picture">Change Your Profile Picture</label>
      <br>
      <input type="file" name="user_profile_picture">
      <button type="submit">Submit</button>
    </form>
  </div>
</div>

<div class="row d-flex align-content-center justify-content-center flex-column my-4">
  <div class="col-lg-5">
    <form action="">
      <div class="form-check">
        <input class="form-check-input" name ="private" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Set Profile to Private
        </label>
      </div>
  </div>

  </form>

</div>



<h1 class="text-center">Edit your info here:</h1>

<div class="row d-flex justify-content-center my-4">
  <div class="col-lg-4">
    <form action="{{url_for('users.update', id=current_user.id)}}" method='post'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form-group">
    <label for"">Username:</label>
    <input type="text" placeholder="enter new username" value="{{user.username}}" name="new_user_name" class="form-control">
    </div>
    
    <div class="form-group">
    <label for="">Email</label>
    <input type="email" value="{{user.email}}" name="new_email" class="form-control">
    </div>
    
    <div class="form-group">
    <label for="">Password</label>
    <input type="password" value="" name="new_password" class="form-control">
    </div>
    
    <button type ="submit" value = "Update" class="btn btn-primary">Edit Information</button>
    </div>
</div>

  

{% endblock %}