{% extends '_layout.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <img style="width:200px" src="{{image.user_image}}" alt="" srcset="" />
    </div>
    <div class="col-lg-12">
      <form
        method="post"
        action="{{url_for
        ('donations.create', image_id=image.id)}}"
        id="donation_form"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="payment_nonce" id="payment_nonce" />
        <div class="form-group">
          <label for="">Donation</label>
          <input
            type="text"
            class="form-control"
            name="donation_amount"
            placeholder="Enter amount"
          />
        </div>
      </form>
    </div>
    <div class="col-lg-4">
      <div id="dropin-container"></div>
      <button id="submit-button">Request payment method</button>
    </div>
  </div>
</div>

<script>
  const button = document.querySelector("#submit-button");
  const nonceContainer = document.querySelector("#payment_nonce");
  const form = document.querySelector("#donation_form");

  braintree.dropin.create(
    {
      authorization: "{{client_token}}",
      container: "#dropin-container"
    },
    function(createErr, instance) {
      button.addEventListener("click", function() {
        instance.requestPaymentMethod(function(
          err,
          payload //PAYLOAD IS TO GET VERIFICATION OF PAYMENT METHOD I.E. THAT THE CARD DETAILS/EXPIRATION DATE ARE ACCEPTABLE
        ) {
          nonceContainer.value = payload.nonce;
          //TO SUBMIT TO BACKEND I.E. PAYMENT_NONCE
          form.submit();
        });
      });
    }
  );
</script>

{% endblock %}
